VITE_DWESK_CRM_URL=http://localhost:8080
VITE_DWESK_COMPANY_ID=1
VITE_DWESK_USERNAME=
VITE_DWESK_PASSWORD=
VITE_DWESK_WEBHOOK_URL=http://localhost:3000/api/webhook/chat
VITE_DWESK_PUBLIC_FORWARD_URL=
VITE_DWESK_CUSTOMER_NAME=Demo Customer
VITE_DWESK_CUSTOMER_EMAIL=demo@example.com
VITE_DWESK_CUSTOMER_PHONE=0770000000
VITE_DWESK_INT=
NGROK_AUTHTOKEN=
